* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  direction: rtl;
}

:root {
  --main-color: #91ea57;
  --color-1: #2c3639;
  --color-2: #3f4e4f;
  --color-3: #dcd7c9;
}

body {
  max-width: 1024px;
  font-family: "IRANsans", Arial, Helvetica, sans-serif !important;
  color: #252935;
  height: 100%;
  background-image: url(/imgs/background.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: hsla(0, 0%, 0%, 0.4);
}

img {
  user-select: none;
  -webkit-user-select: none;
}

p {
  margin: 0.3rem 0;
}

.main-content {
  min-height: 550px;
  height: auto;
  border-radius: 15px;
  background-color: rgba(201, 255, 164, 0.4);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* humbugger icon for mobile  */
.humbugger,
.close-mobile-menu,
.nav-item {
  cursor: pointer;
}

.humbugger span {
  margin: 3px 0;
  width: 30px;
  height: 3px;
}

.right-menu {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 280px;
  height: 100vh;
  z-index: 4;
  background: rgba(255, 255, 255, 0.2);

  background: linear-gradient(
    -20deg,
    rgba(217, 217, 217, 0.6) 10%,
    rgba(132, 212, 78, 0.6) 80%
  );
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  backdrop-filter: blur(3px);
  transition: all 0.3s ease;
  transform: translateX(500px);
}

.right-menu.active {
  visibility: visible;
  transform: translateX(0px);
}

.right-menu-logo-parent img {
  width: 80%;
}

.right-nav-ul li {
  transition: all 0.1s;
  opacity: 0.8;
}

.right-nav-ul li:hover {
  color: var(--main-color);
  opacity: 1;
  padding-right: 0.2rem;
}

.right-nav.active {
  color: hsl(103, 100%, 73%);
  padding-right: 0.2rem;
}

.right-nav-ul li:hover.active {
  color: #252935 !important;
}
.content-pages {
  display: none;
  padding-top: 2rem;
}

.content-pages.active {
  display: block;
}

/* list style   */

.list-style {
  list-style: none;
  margin-top: 1.5rem;
}

.list-style li {
  position: relative;
  padding-bottom: 0.4rem;
}

.list-style li::before {
  position: absolute;
  content: "\2022";
  color: var(--main-color);
  font-size: 30px;
  right: -20px;
  top: -7px;
  font-weight: bold;
  display: inline-block;
  border-radius: 100px;
}

/* robbery table  */

.robery-table {
  width: 100%;
}

@media screen and (min-width: 767px) {
  /* robbery table  */

  .robery-table {
    width: 70%;
  }
}

@media screen and (min-width: 992px) {
  .right-menu {
    all: unset;
    width: 320px;
    display: block;
    border-radius: 15px;
    background-color: rgba(201, 255, 164, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: sticky;
    top: 50px;
    max-height: 80vh;
  }

  .main-content {
    width: 100%;
  }
}
